{% extends 'app_general/components/base.html' %}

{% block site_title %} ขอบคุณสำหรับการลงทะเบียน {% endblock %}

{% block content %}

<div class="bg-primary d-flex align-items-center justify-content-center" style="height: 200px;">
    <h1 class="text-light" >ขอบคุณสำหรับการลงทะเบียน</h1>
</div>
<div>
    <h2>ขอบคุณสำหรับการลงทะเบียน</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, error!</p>
</div>
<a href="{% url 'home' %}">กลับหน้าแรก</a>


{% endblock %}