<footer class="bg-secondary p-1">
    <h5 class="d-flex justify-content-center">ติดตามการเคลื่อนไหวได้ที่</h5>
    <div class="d-flex justify-content-center ">
        <div class="px-2 ">
            <a href="" >Facebooks</a>
        </div>
        <div class="px-2 ">
            <a href="" >Twitter   </a>
        </div>
        <div class="px-2 ">
            <a href="">Instagrame   </a>
        </div>

    </div>

    <p class="d-flex justify-content-center">Copyright 2021-2022</p>
</footer>